body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.hero_section{
    top: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(295deg, rgba(48, 28, 77, 1) 0%, rgba(28, 16, 41, 1) 49%, rgba(14, 9, 20, 1) 100%);
}

.text_info h1{
    margin-top: 0;
}