body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.hero_section{
    top: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(295deg, rgba(255, 0, 0, 1) 0%, rgba(34, 21, 54, 1) 22%, rgba(17, 12, 26, 1) 100%);
}

.text_info h1{
    margin-top: 0;
}